<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Libra</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>

<div th:replace="fragments/navbar">Navbar</div>

<div class="container">
    <h2 class="text-center text-white">Upload Book</h2>
    <form th:action="@{/books/add}"
          th:method="post"
          th:object="${addBookModel}"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="row">

            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="bookId">Writer</label>
                <select id="bookId"
                        name="bookId"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select a writer -</option>
                    <optgroup
                            th:each="publisher : ${publishers}"
                            th:label="${publisher.name}">
                        <option
                                th:each="writer : ${publisher.writers}"
                                th:text="${writer.name}"
                                th:value="${writer.id}"
                                th:selected="*{bookId} == ${writer.id}">Writer
                        </option>
                    </optgroup>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    The writer of the book is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="price" class="text-white font-weight-bold">Price</label>
                <input
                        id="price"
                        th:field="*{price}"
                        th:errorclass="is-invalid"
                        type="number"
                        min="0"
                        step="0.20"
                        class="form-control"
                        placeholder="Suggested price"
                />
                <p class="invalid-feedback errors alert alert-danger">
                    Suggested price is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="genre">Genre</label>
                <select
                        id="genre"
                        name="genre"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select genre -</option>
                    <option th:each="e : ${T(bg.softuni.libra.model.entity.enums.GenreEnum).values()}"
                            th:text="${e}"
                            th:value="${e}"
                            th:selected="${e} == *{genre}">
                        Genre
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    Genre is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label class="text-center text-white font-weight-bold" for="cover">Cover</label>
                <select id="cover"
                        name="cover"
                        th:errorclass="is-invalid"
                        class="form-control">
                    <option value="">- Select a cover -</option>
                    <option th:each="e : ${T(bg.softuni.libra.model.entity.enums.CoverEnum).values()}"
                            th:text="${e}"
                            th:value="${e}"
                            th:selected="${e} == *{cover}">
                        Cover
                    </option>
                </select>
                <p class="invalid-feedback errors alert alert-danger">
                    The cover is required.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6 mb-3">
                <label for="year" class="text-white font-weight-bold">Year of publishing</label>
                <input
                        id="year"
                        th:field="*{year}"
                        th:errorclass="is-invalid"
                        type="number"
                        step="1"
                        class="form-control"
                        placeholder="Manufacturing year"
                />
                <p class="invalid-feedback errors alert alert-danger">
                    The year of publishing is required.
                </p>
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="pages" class="text-white font-weight-bold">Pages</label>
                <input
                        id="pages"
                        th:field="*{pages}"
                        th:errorclass="is-invalid"
                        type="number"
                        class="form-control"
                        placeholder="Number Pages"
                />
                <p class="invalid-feedback errors alert alert-danger">
                    The pages are required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="text-white font-weight-bold" for="description">Resume</label>
            <textarea
                    id="description"
                    th:field="*{resume}"
                    th:errorclass="is-invalid"
                    type="textarea"
                    class="form-control"
                    rows="3"
                    placeholder="Description"
            >
            </textarea>
            <p class="invalid-feedback errors alert alert-danger">
                The resume is required.
            </p>
        </div>
<!--        <div class="form-group">-->
<!--            <label class="text-white font-weight-bold" for="imageUrl">Image URL</label>-->
<!--            <input-->
<!--                    id="imageUrl"-->
<!--                    th:field="*{imageUrl}"-->
<!--                    th:errorclass="is-invalid"-->
<!--                    type="url"-->
<!--                    class="form-control"-->
<!--                    placeholder="Put vehicle image URL here"-->
<!--            />-->
<!--            <p class="invalid-feedback errors alert alert-danger">-->
<!--                Vehicle image URL is required.-->
<!--            </p>-->
<!--        </div>-->

        <div class="row">
            <div class="col col-md-4">
                <div class="button-holder d-flex">
                    <input type="submit" class="btn btn-info btn-lg" value="Submit Offer"/>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <footer></footer>
</div>

</body>
</html>
